<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1 style="text-align: center;" >This is practice page!</h1>
        <ul>
            <% for(let i = 0 ; i < 11 ; i++){ %>
                <li>
                    <%= i %> 
                </li>
            <% } %>

            <% if(true){ %>
                <li>It's true!</li>
            <% } %>
        </ul>
    </body>
</html>